* {
	font-family: "Courier New", monospace;
	font-weight: 900;
	font-size: 25px;
}
#external {
	color: #F55353;
}

h1	{
	font-size: 50px;
}

#bootcamp-learn {
	text-transform: uppercase;
}

.Languages1 {
	background-color: #EC7272;
}
.Languages2 {
	background-color: #F7A76C;
}
.Languages3 {
	background-color: #E0D98C;
}

li[target] {
	border-width: 4px;
	border-style: solid;
	border-color: #FFA259;
}

img + ul {
	list-style: none;
}

section img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	}

h4 ~ p {
	text-align: center;
}

body > section > ul {
	letter-spacing: 8px;
}
