/*CSS-External Styling*/


/*CSS Rules
	selector {
		property: value;
	}
*/
/*Universal Selector
	* {
		font-family: "Courier New", monospace;
		font-size: 20px;
	}*/

	* {
		font-family: "Courier New", monospace;
		font-size: 20px;
	}

html {
	scroll-behavior: smooth;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

/*selector: hover pseudo class*/
/*changes the style when hovered over*/

a:hover {
	background-color: #b4d6de;
}
/*a:hover pseudo class will change the style of an element when it is hoverd*/
div {
	display: inline-block;
	float: right;
}

/*Type Selector*/
/*Tag Name*/

h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

/*landing section*/

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style: none;
}

/*register section*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: pink;
	color: white;
	border: 0;
	border-radius: 15px;
}

/*ID Selector
	#idName {
}
*/

/*Specificity Rules
h3 {
	letter-spacing: 5px;
}*/

#zuitt-motto {
	letter-spacing: 5px;
}


/*Adjacent Sibling Selector*/
/*selector + selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Class Selector
	.className {
	
	}
*/
.offering-item {
text-transform: uppercase;
}

/*Descendant Selector*/
/*selector selector*/

#bootcamp-learning-list li {
	color: #2596be;
}

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

/*Child Selector*/
/*selector > selector*/
body > section > form > label {
	color: rgb(0, 0, 128);
}

/*Attribute Selector*/
/*TagName [attribute]*/

input[required] {
border-width: 2px;
border-style: solid;
border-color: navy;
}

